<header>
  <nav>
    <.link href={~p"/readme"}>readme</.link>
    <.link href={~p"/weblog"}>weblog</.link>
    <.link href={~p"/"} style="border-radius: 50%"></.link>
  </nav>
</header>

<main class={if Map.has_key?(assigns, :style), do: assigns.style, else: ""}>
  <%= @inner_content %>
</main>

<footer>
  <p>~ &#8253; ~</p>
</footer>