<h1>Hello!</h1>

<p class="lede">
	I'm Jarrod Taylor.
	Distiller of useless skills. Sports car enthusiast. Writer, programmer, podcaster. Rock 'n' roll
	dilettante and caffeine addict. Also, sometimes I make things.
</p>